{% extends 'user/layout.html' %}

{% block content%}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Member
      <small>Profile Page</small>
    </h1>

    

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
	  <div>
	  <img src="{{ url_for('static',filename='images/p1.jpg')}}" class='img-fluid'>
	  <form>
	  <input type='file' name='mypix'>
	  </form>
	  </div>
        <div class="list-group">
          <a href="index.html" class="list-group-item">Home</a>
          <a href="" class="list-group-item">Edit Profile</a>
          <a href="{{ url_for('gift')}}" class="list-group-item">Gift Registry</a>
          <a href="payment.html" class="list-group-item">My Payments</a>
          <a href="shop.html" class="list-group-item">Shop</a>
          <a href="logout.php" class="list-group-item">Logout</a>
         
          
        </div>
      </div>
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <p>Upload Picture</p>

<form action="{{ url_for('addpicture')}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Add Picture</label>
        <input type="file" name='uploadpic' class="form-control" id="">
        <button type="submit" class="btn btn-warning btn-block">Upload</button>
</form>

{% endblock content%}